name: Android Debug APK (Buildozer in Docker)

on:
  workflow_dispatch:

jobs:
  build-debug:
    runs-on: ubuntu-latest

    # ВАЖНО: используем готовый образ с настроенным buildozer/p4a/SDK/NDK
    container:
      image: kivy/buildozer

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show repo tree (inside container)
        run: |
          echo "PWD in container:"
          pwd
          echo "ROOT LS:"
          ls

      - name: Build debug APK
        run: |
          # просто запускаем buildozer, всё уже установлено в образе
          buildozer -v android debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: bin/*.apk
